*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# node.js modules
frontend/node_modules/*
frontend/node_modules

# npm debug log
frontend/npm-debug.log

# npm build
frontend/src/build
frontend/src/build/*

# vim .swp files
*.swp
*.swo

# python tmp files
*.pyo
*.pyc

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
